.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_dia_det_label {text-align: right;vertical-align: middle;}
.css_dia_det_line {height:0px;text-align: right;}
.css_mes_det_label {text-align: right;vertical-align: middle;}
.css_mes_det_line {height:0px;text-align: right;}
.css_ano_det_label {text-align: right;vertical-align: middle;}
.css_ano_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_operador_det_label {text-align: right;vertical-align: middle;}
.css_operador_det_line {height:0px;text-align: right;}
.css_tipocobranca_det_label {text-align: right;vertical-align: middle;}
.css_tipocobranca_det_line {height:0px;text-align: right;}
.css_data_det_label {text-align: right;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: right;}
.css_motivocancelamento_det_label {text-align: right;vertical-align: middle;}
.css_motivocancelamento_det_line {height:0px;text-align: right;}
