.css_t1_comments_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t1_comments_grid_line {vertical-align: top;text-align: left;}
.css_t1_first_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t1_first_name_grid_line {vertical-align: top;text-align: left;}
.css_t1_city_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t1_city_grid_line {vertical-align: top;text-align: left;}
.css_t1_modify_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_t1_modify_date_grid_line {vertical-align: top;text-align: center;}
.css_t1_province_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t1_province_grid_line {vertical-align: top;text-align: left;}
.css_t1_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t1_status_grid_line {vertical-align: top;text-align: left;}
.css_ouvir_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ouvir_grid_line {text-align: center;}
