.css_codigo_label { }
.css_codigo_line {text-align:left;}
.css_codigo_obj {text-align:left;}
.css_dia_label { }
.css_dia_line {text-align:left;}
.css_dia_obj {text-align:left;}
.css_mes_label { }
.css_mes_line {text-align:left;}
.css_mes_obj {text-align:left;}
.css_ano_label { }
.css_ano_line {text-align:left;}
.css_ano_obj {text-align:left;}
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_operador_label { }
.css_operador_line { }
.css_operador_obj { }
.css_tipocobranca_label { }
.css_tipocobranca_line { }
.css_tipocobranca_obj { }
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_motivocancelamento_label { }
.css_motivocancelamento_line {text-align:left;}
.css_motivocancelamento_obj {text-align:left;}
