.css_codigo_label { }
.css_codigo_line {text-align:left;}
.css_codigo_obj {text-align:left;}
.css_nomerecibo_label { }
.css_nomerecibo_line { }
.css_nomerecibo_obj { }
.css_observacao_label { }
.css_observacao_line { }
.css_observacao_obj { }
.css_dtiniciocolab_label { }
.css_dtiniciocolab_line { }
.css_dtiniciocolab_obj { }
.css_dtultimacolab_label { }
.css_dtultimacolab_line { }
.css_dtultimacolab_obj { }
.css_operadoravulso_label { }
.css_operadoravulso_line {text-align:left;}
.css_operadoravulso_obj {text-align:left;}
.css_operadormensal_label { }
.css_operadormensal_line {text-align:left;}
.css_operadormensal_obj {text-align:left;}
.css_valoravulso_label { }
.css_valoravulso_line {text-align:left;}
.css_valoravulso_obj {text-align:left;}
.css_valormensal_label { }
.css_valormensal_line {text-align:left;}
.css_valormensal_obj {text-align:left;}
.css_cobrador_label { }
.css_cobrador_line {text-align:left;}
.css_cobrador_obj {text-align:left;}
.css_dtultimacolabav_label { }
.css_dtultimacolabav_line { }
.css_dtultimacolabav_obj { }
