.css_codigorua_label { }
.css_codigorua_line {text-align:left;}
.css_codigorua_obj {text-align:left;}
.css_codigocontribuinte_label { }
.css_codigocontribuinte_line {text-align:left;}
.css_codigocontribuinte_obj {text-align:left;}
.css_codigooperador_label { }
.css_codigooperador_line {text-align:left;}
.css_codigooperador_obj {text-align:left;}
.css_codigocobrador_label { }
.css_codigocobrador_line {text-align:left;}
.css_codigocobrador_obj {text-align:left;}
.css_serie_label { }
.css_serie_line {text-align:left;}
.css_serie_obj {text-align:left;}
.css_numerorecibo_label { }
.css_numerorecibo_line {text-align:left;}
.css_numerorecibo_obj {text-align:left;}
