.css_codigo_label { }
.css_codigo_line {text-align:left;}
.css_codigo_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_senha_label { }
.css_senha_line { }
.css_senha_obj { }
.css_ramal_iax_label { }
.css_ramal_iax_line { }
.css_ramal_iax_obj { }
.css_agente_label { }
.css_agente_line {text-align:left;}
.css_agente_obj {text-align:left;}
.css_campanha_label { }
.css_campanha_line { }
.css_campanha_obj { }
.css_ativo_label { }
.css_ativo_line {text-align:left;}
.css_ativo_obj {text-align:left;}
.css_operador_label { }
.css_operador_line {text-align:left;}
.css_operador_obj {text-align:left;}
.css_bases_label { }
.css_bases_line { }
.css_bases_obj { }
.css_permissao_label { }
.css_permissao_line {text-align:left;}
.css_permissao_obj {text-align:left;}
