.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_nome_det_label {text-align: left;vertical-align: middle;}
.css_nome_det_line {height:0px;text-align: left;}
.css_doador_det_label {text-align: left;vertical-align: middle;}
.css_doador_det_line {height:0px;text-align: left;}
.css_codigorua_det_label {text-align: left;vertical-align: middle;}
.css_codigorua_det_line {height:0px;text-align: left;}
.css_numero_det_label {text-align: left;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: left;}
.css_complemento_det_label {text-align: left;vertical-align: middle;}
.css_complemento_det_line {height:0px;text-align: left;}
.css_setor_det_label {text-align: left;vertical-align: middle;}
.css_setor_det_line {height:0px;text-align: left;}
.css_tipo_det_label {text-align: left;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: left;}
.css_dataaniv_det_label {text-align: left;vertical-align: middle;}
.css_dataaniv_det_line {height:0px;text-align: left;}
.css_datalistagem_det_label {text-align: left;vertical-align: middle;}
.css_datalistagem_det_line {height:0px;text-align: left;}
.css_sexo_det_label {text-align: left;vertical-align: middle;}
.css_sexo_det_line {height:0px;text-align: left;}
.css_fone1_det_label {text-align: left;vertical-align: middle;}
.css_fone1_det_line {height:0px;text-align: left;}
.css_fone2_det_label {text-align: left;vertical-align: middle;}
.css_fone2_det_line {height:0px;text-align: left;}
.css_fone3_det_label {text-align: left;vertical-align: middle;}
.css_fone3_det_line {height:0px;text-align: left;}
.css_fone4_det_label {text-align: left;vertical-align: middle;}
.css_fone4_det_line {height:0px;text-align: left;}
.css_ddd_det_label {text-align: left;vertical-align: middle;}
.css_ddd_det_line {height:0px;text-align: left;}
.css_statusc_det_label {text-align: left;vertical-align: middle;}
.css_statusc_det_line {height:0px;text-align: left;}
.css_cpf_det_label {text-align: left;vertical-align: middle;}
.css_cpf_det_line {height:0px;text-align: left;}
.css_operador_det_label {text-align: left;vertical-align: middle;}
.css_operador_det_line {height:0px;text-align: left;}
.css_usuario_det_label {text-align: left;vertical-align: middle;}
.css_usuario_det_line {height:0px;text-align: left;}
.css_classificacao_det_label {text-align: left;vertical-align: middle;}
.css_classificacao_det_line {height:0px;text-align: left;}
.css_tipocobranca_det_label {text-align: left;vertical-align: middle;}
.css_tipocobranca_det_line {height:0px;text-align: left;}
.css_idclientecompanhia_det_label {text-align: left;vertical-align: middle;}
.css_idclientecompanhia_det_line {height:0px;text-align: left;}
.css_dgidclientecompanhia_det_label {text-align: left;vertical-align: middle;}
.css_dgidclientecompanhia_det_line {height:0px;text-align: left;}
.css_idclientenosso_det_label {text-align: left;vertical-align: middle;}
.css_idclientenosso_det_line {height:0px;text-align: left;}
.css_codigocompanhia_det_label {text-align: left;vertical-align: middle;}
.css_codigocompanhia_det_line {height:0px;text-align: left;}
.css_produtoincluido_det_label {text-align: left;vertical-align: middle;}
.css_produtoincluido_det_line {height:0px;text-align: left;}
.css_statusinclusaoproduto_det_label {text-align: left;vertical-align: middle;}
.css_statusinclusaoproduto_det_line {height:0px;text-align: left;}
.css_parceiro_det_label {text-align: left;vertical-align: middle;}
.css_parceiro_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_permiteemail_det_label {text-align: left;vertical-align: middle;}
.css_permiteemail_det_line {height:0px;text-align: left;}
.css_ultimoaudiocampanha_det_label {text-align: left;vertical-align: middle;}
.css_ultimoaudiocampanha_det_line {height:0px;text-align: left;}
.css_datainclusaoproduto_det_label {text-align: left;vertical-align: middle;}
.css_datainclusaoproduto_det_line {height:0px;text-align: left;}
.css_reajustedata_det_label {text-align: left;vertical-align: middle;}
.css_reajustedata_det_line {height:0px;text-align: left;}
.css_qtdinvalido_det_label {text-align: left;vertical-align: middle;}
.css_qtdinvalido_det_line {height:0px;text-align: left;}
.css_data_higienizacao_det_label {text-align: left;vertical-align: middle;}
.css_data_higienizacao_det_line {height:0px;text-align: left;}
.css_status_higienizacao_det_label {text-align: left;vertical-align: middle;}
.css_status_higienizacao_det_line {height:0px;text-align: left;}
.css_higienizado_det_label {text-align: left;vertical-align: middle;}
.css_higienizado_det_line {height:0px;text-align: left;}
.css_categoria_requisicao_det_label {text-align: left;vertical-align: middle;}
.css_categoria_requisicao_det_line {height:0px;text-align: left;}
.css_ligou_det_label {text-align: left;vertical-align: middle;}
.css_ligou_det_line {height:0px;text-align: left;}
