.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_nomerecibo_det_label {text-align: left;vertical-align: middle;}
.css_nomerecibo_det_line {height:0px;text-align: left;}
.css_observacao_det_label {text-align: left;vertical-align: middle;}
.css_observacao_det_line {height:0px;text-align: left;}
.css_dtiniciocolab_det_label {text-align: left;vertical-align: middle;}
.css_dtiniciocolab_det_line {height:0px;text-align: left;}
.css_dtultimacolab_det_label {text-align: left;vertical-align: middle;}
.css_dtultimacolab_det_line {height:0px;text-align: left;}
.css_operadoravulso_det_label {text-align: left;vertical-align: middle;}
.css_operadoravulso_det_line {height:0px;text-align: left;}
.css_operadormensal_det_label {text-align: left;vertical-align: middle;}
.css_operadormensal_det_line {height:0px;text-align: left;}
.css_valoravulso_det_label {text-align: left;vertical-align: middle;}
.css_valoravulso_det_line {height:0px;text-align: left;}
.css_valormensal_det_label {text-align: left;vertical-align: middle;}
.css_valormensal_det_line {height:0px;text-align: left;}
.css_cobrador_det_label {text-align: left;vertical-align: middle;}
.css_cobrador_det_line {height:0px;text-align: left;}
.css_dtultimacolabav_det_label {text-align: left;vertical-align: middle;}
.css_dtultimacolabav_det_line {height:0px;text-align: left;}
