.css_codigo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_nomerecibo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomerecibo_grid_line {vertical-align: top;text-align: right;}
.css_observacao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observacao_grid_line {vertical-align: top;text-align: right;}
.css_dtiniciocolab_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dtiniciocolab_grid_line {vertical-align: top;text-align: center;}
.css_dtultimacolab_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dtultimacolab_grid_line {vertical-align: top;text-align: center;}
.css_operadoravulso_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_operadoravulso_grid_line {vertical-align: top;text-align: right;}
