.css_codigorua_label { }
.css_codigorua_line {text-align:left;}
.css_codigorua_obj {text-align:left;}
.css_nomerua_label { }
.css_nomerua_line { }
.css_nomerua_obj { }
.css_bairro_label { }
.css_bairro_line { }
.css_bairro_obj { }
.css_cidade_label { }
.css_cidade_line { }
.css_cidade_obj { }
.css_uf_label { }
.css_uf_line { }
.css_uf_obj { }
.css_cep_label { }
.css_cep_line { }
.css_cep_obj { }
.css_tipologradouro_label { }
.css_tipologradouro_line { }
.css_tipologradouro_obj { }
.css_setores_label { }
.css_setores_line {text-align:left;}
.css_setores_obj {text-align:left;}
