.css_codigosetor_label { }
.css_codigosetor_line {text-align:left;}
.css_codigosetor_obj {text-align:left;}
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_ddd_label { }
.css_ddd_line {text-align:left;}
.css_ddd_obj {text-align:left;}
.css_defaltddd_label { }
.css_defaltddd_line {text-align:left;}
.css_defaltddd_obj {text-align:left;}
