.css_comments_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_comments_grid_line {vertical-align: top;text-align: left;}
.css_first_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_first_name_grid_line {vertical-align: top;text-align: left;}
.css_city_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_city_grid_line {vertical-align: top;text-align: left;}
.css_date_of_birth_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_date_of_birth_grid_line {vertical-align: top;text-align: center;}
.css_province_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_province_grid_line {vertical-align: top;text-align: left;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: left;}
.css_auditoria_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_auditoria_grid_line {text-align: center;}
.css_lead_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_lead_id_grid_line {vertical-align: top;text-align: right;}
.css_entry_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_entry_date_grid_line {vertical-align: top;text-align: center;}
.css_modify_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_modify_date_grid_line {vertical-align: top;text-align: center;}
.css_user_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_grid_line {vertical-align: top;text-align: left;}
.css_vendor_lead_code_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vendor_lead_code_grid_line {vertical-align: top;text-align: left;}
