.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_dia_det_label {text-align: left;vertical-align: middle;}
.css_dia_det_line {height:0px;text-align: left;}
.css_mes_det_label {text-align: left;vertical-align: middle;}
.css_mes_det_line {height:0px;text-align: left;}
.css_ano_det_label {text-align: left;vertical-align: middle;}
.css_ano_det_line {height:0px;text-align: left;}
.css_valor_det_label {text-align: left;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: left;}
.css_operador_det_label {text-align: left;vertical-align: middle;}
.css_operador_det_line {height:0px;text-align: left;}
.css_status_det_label {text-align: left;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: left;}
.css_tipocobranca_det_label {text-align: left;vertical-align: middle;}
.css_tipocobranca_det_line {height:0px;text-align: left;}
.css_carteirinha_det_label {text-align: left;vertical-align: middle;}
.css_carteirinha_det_line {height:0px;text-align: left;}
.css_parceiro_det_label {text-align: left;vertical-align: middle;}
.css_parceiro_det_line {height:0px;text-align: left;}
.css_ncodigo_det_label {text-align: left;vertical-align: middle;}
.css_ncodigo_det_line {height:0px;text-align: left;}
.css_codigocompanhia_det_label {text-align: left;vertical-align: middle;}
.css_codigocompanhia_det_line {height:0px;text-align: left;}
.css_autorizado_det_label {text-align: left;vertical-align: middle;}
.css_autorizado_det_line {height:0px;text-align: left;}
.css_audioautorizacao_det_label {text-align: left;vertical-align: middle;}
.css_audioautorizacao_det_line {height:0px;text-align: left;}
.css_datanovocoop_det_label {text-align: left;vertical-align: middle;}
.css_datanovocoop_det_line {height:0px;text-align: left;}
.css_timestamp_det_label {text-align: left;vertical-align: middle;}
.css_timestamp_det_line {height:0px;text-align: left;}
.css_auditado_det_label {text-align: left;vertical-align: middle;}
.css_auditado_det_line {height:0px;text-align: left;}
.css_ultimocontato_det_label {text-align: left;vertical-align: middle;}
.css_ultimocontato_det_line {height:0px;text-align: left;}
.css_servidoraudio_det_label {text-align: left;vertical-align: middle;}
.css_servidoraudio_det_line {height:0px;text-align: left;}
.css_usuario_det_label {text-align: left;vertical-align: middle;}
.css_usuario_det_line {height:0px;text-align: left;}
.css_adiantarmensal_det_label {text-align: left;vertical-align: middle;}
.css_adiantarmensal_det_line {height:0px;text-align: left;}
.css_origem_det_label {text-align: left;vertical-align: middle;}
.css_origem_det_line {height:0px;text-align: left;}
.css_dataref_det_label {text-align: left;vertical-align: middle;}
.css_dataref_det_line {height:0px;text-align: left;}
.css_comissionado_det_label {text-align: left;vertical-align: middle;}
.css_comissionado_det_line {height:0px;text-align: left;}
.css_datacomissionamento_det_label {text-align: left;vertical-align: middle;}
.css_datacomissionamento_det_line {height:0px;text-align: left;}
.css_prob_det_label {text-align: left;vertical-align: middle;}
.css_prob_det_line {height:0px;text-align: left;}
.css_frequencia_det_label {text-align: left;vertical-align: middle;}
.css_frequencia_det_line {height:0px;text-align: left;}
.css_valorespecial_det_label {text-align: left;vertical-align: middle;}
.css_valorespecial_det_line {height:0px;text-align: left;}
.css_operadorespecial_det_label {text-align: left;vertical-align: middle;}
.css_operadorespecial_det_line {height:0px;text-align: left;}
