.css_codigo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_dia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_dia_grid_line {vertical-align: top;text-align: right;}
.css_mes_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_mes_grid_line {vertical-align: top;text-align: right;}
.css_ano_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ano_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_operador_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_operador_grid_line {vertical-align: top;text-align: left;}
