.css_codigoidentificador_det_label {text-align: left;vertical-align: middle;}
.css_codigoidentificador_det_line {height:0px;text-align: left;}
.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_nome_det_label {text-align: left;vertical-align: middle;}
.css_nome_det_line {height:0px;text-align: left;}
.css_sexo_det_label {text-align: left;vertical-align: middle;}
.css_sexo_det_line {height:0px;text-align: left;}
.css_tipo_det_label {text-align: left;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: left;}
.css_ddd_det_label {text-align: left;vertical-align: middle;}
.css_ddd_det_line {height:0px;text-align: left;}
.css_fone1_det_label {text-align: left;vertical-align: middle;}
.css_fone1_det_line {height:0px;text-align: left;}
.css_fone2_det_label {text-align: left;vertical-align: middle;}
.css_fone2_det_line {height:0px;text-align: left;}
.css_operador_det_label {text-align: left;vertical-align: middle;}
.css_operador_det_line {height:0px;text-align: left;}
.css_usuario_det_label {text-align: left;vertical-align: middle;}
.css_usuario_det_line {height:0px;text-align: left;}
.css_codigorua_det_label {text-align: left;vertical-align: middle;}
.css_codigorua_det_line {height:0px;text-align: left;}
.css_logadouro_det_label {text-align: left;vertical-align: middle;}
.css_logadouro_det_line {height:0px;text-align: left;}
.css_numero_det_label {text-align: left;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: left;}
.css_complemento_det_label {text-align: left;vertical-align: middle;}
.css_complemento_det_line {height:0px;text-align: left;}
.css_pontodereferencia_det_label {text-align: left;vertical-align: middle;}
.css_pontodereferencia_det_line {height:0px;text-align: left;}
.css_bairro_det_label {text-align: left;vertical-align: middle;}
.css_bairro_det_line {height:0px;text-align: left;}
.css_localidade_det_label {text-align: left;vertical-align: middle;}
.css_localidade_det_line {height:0px;text-align: left;}
.css_setor_rua_det_label {text-align: left;vertical-align: middle;}
.css_setor_rua_det_line {height:0px;text-align: left;}
.css_cep_det_label {text-align: left;vertical-align: middle;}
.css_cep_det_line {height:0px;text-align: left;}
.css_dataemissao_det_label {text-align: left;vertical-align: middle;}
.css_dataemissao_det_line {height:0px;text-align: left;}
.css_datavencimento_det_label {text-align: left;vertical-align: middle;}
.css_datavencimento_det_line {height:0px;text-align: left;}
.css_timestamp_det_label {text-align: left;vertical-align: middle;}
.css_timestamp_det_line {height:0px;text-align: left;}
.css_valor_det_label {text-align: left;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: left;}
.css_obs_det_label {text-align: left;vertical-align: middle;}
.css_obs_det_line {height:0px;text-align: left;}
.css_mesmensal_det_label {text-align: left;vertical-align: middle;}
.css_mesmensal_det_line {height:0px;text-align: left;}
.css_status_det_label {text-align: left;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: left;}
.css_lead_id_det_label {text-align: left;vertical-align: middle;}
.css_lead_id_det_line {height:0px;text-align: left;}
