.css_codigoidentificador_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codigoidentificador_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: right;}
.css_sexo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sexo_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_ddd_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ddd_grid_line {vertical-align: top;text-align: right;}
