.css_codigo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: right;}
.css_bairro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bairro_grid_line {vertical-align: top;text-align: right;}
.css_cidade_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cidade_grid_line {vertical-align: top;text-align: right;}
.css_ddd_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ddd_grid_line {vertical-align: top;text-align: right;}
.css_fone1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fone1_grid_line {vertical-align: top;text-align: right;}
.css_fone2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fone2_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_data_inicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_inicio_grid_line {vertical-align: top;text-align: center;}
.css_data_ultima_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_ultima_grid_line {vertical-align: top;text-align: center;}
