.css_user_label { }
.css_user_line { }
.css_user_obj { }
.css_ligacoes_label { }
.css_ligacoes_line {text-align:left;}
.css_ligacoes_obj {text-align:left;}
.css_doacoes_label { }
.css_doacoes_line {text-align:left;}
.css_doacoes_obj {text-align:left;}
.css_ndoacoes_label { }
.css_ndoacoes_line {text-align:left;}
.css_ndoacoes_obj {text-align:left;}
.css_outras_label { }
.css_outras_line {text-align:left;}
.css_outras_obj {text-align:left;}
.css_tempo_label { }
.css_tempo_line { }
.css_tempo_obj { }
