.css_codigorua_det_label {text-align: right;vertical-align: middle;}
.css_codigorua_det_line {height:0px;text-align: right;}
.css_nomerua_det_label {text-align: right;vertical-align: middle;}
.css_nomerua_det_line {height:0px;text-align: right;}
.css_bairro_det_label {text-align: right;vertical-align: middle;}
.css_bairro_det_line {height:0px;text-align: right;}
.css_cidade_det_label {text-align: right;vertical-align: middle;}
.css_cidade_det_line {height:0px;text-align: right;}
.css_uf_det_label {text-align: right;vertical-align: middle;}
.css_uf_det_line {height:0px;text-align: right;}
.css_cep_det_label {text-align: right;vertical-align: middle;}
.css_cep_det_line {height:0px;text-align: right;}
.css_tipologradouro_det_label {text-align: right;vertical-align: middle;}
.css_tipologradouro_det_line {height:0px;text-align: right;}
.css_ok_det_label {text-align: right;vertical-align: middle;}
.css_ok_det_line {height:0px;text-align: right;}
.css_setores_det_label {text-align: right;vertical-align: middle;}
.css_setores_det_line {height:0px;text-align: right;}
