.css_comments_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_comments_grid_line {vertical-align: top;text-align: left;}
.css_first_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_first_name_grid_line {vertical-align: top;text-align: left;}
.css_phone_number_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_phone_number_grid_line {vertical-align: top;text-align: left;}
.css_start_time_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_start_time_grid_line {vertical-align: top;text-align: center;}
.css_location_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_location_grid_line {vertical-align: top;text-align: left;}
.css_user_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_grid_line {vertical-align: top;text-align: left;}
.css_cadastro_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_cadastro_grid_line {text-align: center;}
.css_lead_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_lead_id_grid_line {vertical-align: top;text-align: right;}
.css_alt_phone_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_alt_phone_grid_line {vertical-align: top;text-align: left;}
.css_extension_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_extension_grid_line {vertical-align: top;text-align: left;}
