.css_codigooperador_det_label {text-align: left;vertical-align: middle;}
.css_codigooperador_det_line {height:0px;text-align: left;}
.css_nome_det_label {text-align: left;vertical-align: middle;}
.css_nome_det_line {height:0px;text-align: left;}
.css_tipo_det_label {text-align: left;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: left;}
.css_datacadastro_det_label {text-align: left;vertical-align: middle;}
.css_datacadastro_det_line {height:0px;text-align: left;}
.css_central_det_label {text-align: left;vertical-align: middle;}
.css_central_det_line {height:0px;text-align: left;}
.css_datasaida_det_label {text-align: left;vertical-align: middle;}
.css_datasaida_det_line {height:0px;text-align: left;}
.css_sala_det_label {text-align: left;vertical-align: middle;}
.css_sala_det_line {height:0px;text-align: left;}
.css_inativo_det_label {text-align: left;vertical-align: middle;}
.css_inativo_det_line {height:0px;text-align: left;}
.css_usuario_automatico_det_label {text-align: left;vertical-align: middle;}
.css_usuario_automatico_det_line {height:0px;text-align: left;}
