.css_codigo_label { }
.css_codigo_line {text-align:left;}
.css_codigo_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_doador_label { }
.css_doador_line { }
.css_doador_obj { }
.css_codigorua_label { }
.css_codigorua_line {text-align:left;}
.css_codigorua_obj {text-align:left;}
.css_numero_label { }
.css_numero_line { }
.css_numero_obj { }
.css_complemento_label { }
.css_complemento_line { }
.css_complemento_obj { }
.css_setor_label { }
.css_setor_line {text-align:left;}
.css_setor_obj {text-align:left;}
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_dataaniv_label { }
.css_dataaniv_line { }
.css_dataaniv_obj { }
.css_datalistagem_label { }
.css_datalistagem_line { }
.css_datalistagem_obj { }
.css_sexo_label { }
.css_sexo_line { }
.css_sexo_obj { }
.css_fone1_label { }
.css_fone1_line { }
.css_fone1_obj { }
.css_fone2_label { }
.css_fone2_line { }
.css_fone2_obj { }
.css_fone3_label { }
.css_fone3_line { }
.css_fone3_obj { }
.css_fone4_label { }
.css_fone4_line { }
.css_fone4_obj { }
.css_ddd_label { }
.css_ddd_line { }
.css_ddd_obj { }
.css_statusc_label { }
.css_statusc_line { }
.css_statusc_obj { }
.css_cpf_label { }
.css_cpf_line { }
.css_cpf_obj { }
.css_operador_label { }
.css_operador_line {text-align:left;}
.css_operador_obj {text-align:left;}
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_classificacao_label { }
.css_classificacao_line {text-align:left;}
.css_classificacao_obj {text-align:left;}
.css_tipocobranca_label { }
.css_tipocobranca_line { }
.css_tipocobranca_obj { }
.css_idclientecompanhia_label { }
.css_idclientecompanhia_line {text-align:left;}
.css_idclientecompanhia_obj {text-align:left;}
.css_dgidclientecompanhia_label { }
.css_dgidclientecompanhia_line {text-align:left;}
.css_dgidclientecompanhia_obj {text-align:left;}
.css_idclientenosso_label { }
.css_idclientenosso_line { }
.css_idclientenosso_obj { }
.css_codigocompanhia_label { }
.css_codigocompanhia_line {text-align:left;}
.css_codigocompanhia_obj {text-align:left;}
.css_produtoincluido_label { }
.css_produtoincluido_line {text-align:left;}
.css_produtoincluido_obj {text-align:left;}
.css_statusinclusaoproduto_label { }
.css_statusinclusaoproduto_line { }
.css_statusinclusaoproduto_obj { }
.css_parceiro_label { }
.css_parceiro_line {text-align:left;}
.css_parceiro_obj {text-align:left;}
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_permiteemail_label { }
.css_permiteemail_line {text-align:left;}
.css_permiteemail_obj {text-align:left;}
.css_ultimoaudiocampanha_label { }
.css_ultimoaudiocampanha_line {text-align:left;}
.css_ultimoaudiocampanha_obj {text-align:left;}
.css_datainclusaoproduto_label { }
.css_datainclusaoproduto_line { }
.css_datainclusaoproduto_obj { }
.css_reajustedata_label { }
.css_reajustedata_line { }
.css_reajustedata_obj { }
.css_qtdinvalido_label { }
.css_qtdinvalido_line {text-align:left;}
.css_qtdinvalido_obj {text-align:left;}
.css_data_higienizacao_label { }
.css_data_higienizacao_line { }
.css_data_higienizacao_obj { }
.css_status_higienizacao_label { }
.css_status_higienizacao_line { }
.css_status_higienizacao_obj { }
.css_higienizado_label { }
.css_higienizado_line {text-align:left;}
.css_higienizado_obj {text-align:left;}
.css_categoria_requisicao_label { }
.css_categoria_requisicao_line { }
.css_categoria_requisicao_obj { }
.css_ligou_label { }
.css_ligou_line {text-align:left;}
.css_ligou_obj {text-align:left;}
