.css_codigosetor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codigosetor_grid_line {vertical-align: top;text-align: right;}
.css_descricao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: left;}
.css_ddd_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ddd_grid_line {vertical-align: top;text-align: right;}
.css_defaltddd_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_defaltddd_grid_line {vertical-align: top;text-align: right;}
