.css_codigo_label { }
.css_codigo_line {text-align:left;}
.css_codigo_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_codigorua_label { }
.css_codigorua_line {text-align:left;}
.css_codigorua_obj {text-align:left;}
.css_numero_label { }
.css_numero_line { }
.css_numero_obj { }
.css_complemento_label { }
.css_complemento_line { }
.css_complemento_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_sexo_label { }
.css_sexo_line { }
.css_sexo_obj { }
.css_fone1_label { }
.css_fone1_line { }
.css_fone1_obj { }
.css_fone2_label { }
.css_fone2_line { }
.css_fone2_obj { }
.css_ddd_label { }
.css_ddd_line { }
.css_ddd_obj { }
.css_rua_label { }
.css_rua_line { }
.css_rua_obj { }
.css_bairro_label { }
.css_bairro_line { }
.css_bairro_obj { }
.css_cep_label { }
.css_cep_line { }
.css_cep_obj { }
.css_cidade_label { }
.css_cidade_line { }
.css_cidade_obj { }
.css_setor_rua_label { }
.css_setor_rua_line { }
.css_setor_rua_obj { }
.css_sounds_label { }
.css_sounds_line { }
.css_sounds_obj { }
.css_recibo_label { }
.css_recibo_line { }
.css_recibo_obj { }
