.css_user_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_grid_line {vertical-align: top;text-align: right;}
.css_full_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_full_name_grid_line {vertical-align: top;text-align: right;}
.css_pass_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pass_grid_line {vertical-align: top;text-align: right;}
.css_user_level_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_user_level_grid_line {vertical-align: top;text-align: right;}
.css_user_group_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_group_grid_line {vertical-align: top;text-align: right;}
.css_phone_login_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_phone_login_grid_line {vertical-align: top;text-align: right;}
.css_phone_pass_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_phone_pass_grid_line {vertical-align: top;text-align: right;}
.css_user_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_user_id_grid_line {vertical-align: top;text-align: right;}
