.css_idrequisicao_det_label {text-align: right;vertical-align: middle;}
.css_idrequisicao_det_line {height:0px;text-align: right;}
.css_codcontribuinte_det_label {text-align: right;vertical-align: middle;}
.css_codcontribuinte_det_line {height:0px;text-align: right;}
.css_nomecontribuinte_det_label {text-align: right;vertical-align: middle;}
.css_nomecontribuinte_det_line {height:0px;text-align: right;}
.css_fone1_det_label {text-align: right;vertical-align: middle;}
.css_fone1_det_line {height:0px;text-align: right;}
.css_fone2_det_label {text-align: right;vertical-align: middle;}
.css_fone2_det_line {height:0px;text-align: right;}
.css_fone3_det_label {text-align: right;vertical-align: middle;}
.css_fone3_det_line {height:0px;text-align: right;}
.css_fone4_det_label {text-align: right;vertical-align: middle;}
.css_fone4_det_line {height:0px;text-align: right;}
.css_operadora_det_label {text-align: right;vertical-align: middle;}
.css_operadora_det_line {height:0px;text-align: right;}
.css_finalizada_det_label {text-align: right;vertical-align: middle;}
.css_finalizada_det_line {height:0px;text-align: right;}
.css_dtfinalizacao_det_label {text-align: right;vertical-align: middle;}
.css_dtfinalizacao_det_line {height:0px;text-align: right;}
.css_dtgerada_det_label {text-align: right;vertical-align: middle;}
.css_dtgerada_det_line {height:0px;text-align: right;}
.css_status_det_label {text-align: right;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: right;}
.css_setor_det_label {text-align: right;vertical-align: middle;}
.css_setor_det_line {height:0px;text-align: right;}
.css_comentario_det_label {text-align: right;vertical-align: middle;}
.css_comentario_det_line {height:0px;text-align: right;}
.css_diamensal_det_label {text-align: right;vertical-align: middle;}
.css_diamensal_det_line {height:0px;text-align: right;}
.css_tiporequisicao_det_label {text-align: right;vertical-align: middle;}
.css_tiporequisicao_det_line {height:0px;text-align: right;}
