.css_user_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_grid_line {vertical-align: top;text-align: left;}
.css_ligacoes_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ligacoes_grid_line {vertical-align: top;text-align: right;}
.css_doacao_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_doacao_grid_line {vertical-align: top;text-align: right;}
.css_percentual_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_percentual_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: left;}
