.css_NM_Count_cnt_field {text-align: right}
.css_ligacoes_sum_label {text-align: right; vertical-align: top}
.css_ligacoes_sum_field {text-align: right; vertical-align: top}
.css_doacoes_sum_label {text-align: right; vertical-align: top}
.css_doacoes_sum_field {text-align: right; vertical-align: top}
.css_ndoacoes_sum_label {text-align: right; vertical-align: top}
.css_ndoacoes_sum_field {text-align: right; vertical-align: top}
.css_outras_sum_label {text-align: right; vertical-align: top}
.css_outras_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
