.css_idrequisicao_label { }
.css_idrequisicao_line {text-align:left;}
.css_idrequisicao_obj {text-align:left;}
.css_codcontribuinte_label { }
.css_codcontribuinte_line {text-align:left;}
.css_codcontribuinte_obj {text-align:left;}
.css_nomecontribuinte_label { }
.css_nomecontribuinte_line { }
.css_nomecontribuinte_obj { }
.css_fone1_label { }
.css_fone1_line { }
.css_fone1_obj { }
.css_fone2_label { }
.css_fone2_line { }
.css_fone2_obj { }
.css_fone3_label { }
.css_fone3_line { }
.css_fone3_obj { }
.css_fone4_label { }
.css_fone4_line { }
.css_fone4_obj { }
.css_operadora_label { }
.css_operadora_line {text-align:left;}
.css_operadora_obj {text-align:left;}
.css_finalizada_label { }
.css_finalizada_line {text-align:left;}
.css_finalizada_obj {text-align:left;}
.css_dtfinalizacao_label { }
.css_dtfinalizacao_line { }
.css_dtfinalizacao_obj { }
.css_dtgerada_label { }
.css_dtgerada_line { }
.css_dtgerada_obj { }
.css_status_label { }
.css_status_line {text-align:left;}
.css_status_obj {text-align:left;}
.css_setor_label { }
.css_setor_line {text-align:left;}
.css_setor_obj {text-align:left;}
.css_comentario_label { }
.css_comentario_line { }
.css_comentario_obj { }
.css_diamensal_label { }
.css_diamensal_line {text-align:left;}
.css_diamensal_obj {text-align:left;}
.css_tiporequisicao_label { }
.css_tiporequisicao_line { }
.css_tiporequisicao_obj { }
