.css_codigooperador_label { }
.css_codigooperador_line {text-align:left;}
.css_codigooperador_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_datacadastro_label { }
.css_datacadastro_line { }
.css_datacadastro_obj { }
.css_central_label { }
.css_central_line {text-align:left;}
.css_central_obj {text-align:left;}
.css_datasaida_label { }
.css_datasaida_line { }
.css_datasaida_obj { }
.css_sala_label { }
.css_sala_line {text-align:left;}
.css_sala_obj {text-align:left;}
.css_inativo_label { }
.css_inativo_line {text-align:left;}
.css_inativo_obj {text-align:left;}
.css_usuario_automatico_label { }
.css_usuario_automatico_line { }
.css_usuario_automatico_obj { }
